* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #083B4C;
  }

  .blue{
      background-color: #1389B2;
  }

  .green{
      background-color: #0BD6A1;
  }

  .yellow{
      background-color: #FFD166;
  }

  .red{
      background-color: #F0466F;
  }


  h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }


  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  .box {
    width: calc(100% / 7 - 20px)  ;
    /* width: calc(100% / 7 - 60px / 7)  ; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }