* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  ul{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }

  ul li{
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  
  .box {
    width: calc(100% / 7 - 10px );
    height: 100px;
   
  }

  body{
    background-color: #083B4C;
  }

  .blue{
      background-color: #1389B2;
  }

  .green{
      background-color: #0BD6A1;
  }

  .yellow{
      background-color: #FFD166;
  }

  .red{
      background-color: #F0466F;
  }


 






  